<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>


  <div class="login-box-section">
      <div class="login-box">
          <div class="logo-box">
              <img src="assets/imgs/logo-1.jpg">
          </div>

          <form (ngSubmit)="signUp(register.value)" [formGroup]="register">
          <ion-list class="login-user-info">
            <ion-item>
              <ion-label>
                  <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
              </ion-label>
              <ion-input type="text"  placeholder="First Name" formControlName="firstname" required></ion-input>
          </ion-item>
          <ion-item no-lines
            *ngIf="register.get('firstname').hasError('required') && register.get('firstname').touched">
          <div class="error">
              First Name is required
          </div>
         </ion-item>
        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
          </ion-label>
              <ion-input type="text"  placeholder="Middle Name" formControlName="middlename" required></ion-input>
       </ion-item>
          <ion-item no-lines
              *ngIf="register.get('middlename').hasError('required') && register.get('middlename').touched">
          <div class="error">
               Middle Name is required
           </div>
         </ion-item>

            <ion-item>
              <ion-label>
                  <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
              </ion-label>
              <ion-input type="text"  placeholder="Last Name" formControlName="lastname" required></ion-input>
          </ion-item>
              <ion-item no-lines
                *ngIf="register.get('lastname').hasError('required') && register.get('lastname').touched">
           <div class="error">
                Last Name is required
           </div>
        </ion-item>
              <ion-item>
                  <ion-label>
                      <ion-icon item-left name="mail"></ion-icon>
                  </ion-label>
                  <ion-input placeholder="Enter email-ID" formControlName="email" required></ion-input>
              </ion-item>
              <ion-item no-lines
              *ngIf="(register.get('email').hasError('pattern') ||register.get('email').hasError('required') ) && register.get('email').touched">
              <div class="error"
                *ngIf="register.get('email').hasError('required') && register.get('email').touched">
                Please input your email ID
              </div>
              <div class="error" *ngIf="register.get('email').hasError('pattern') && register.get('email').touched">
                Email address invalid
              </div>
            </ion-item>
              <ion-item>
                  <ion-label>
                      <ion-icon item-left ios="ios-call" md="md-call"></ion-icon>
                  </ion-label>
                  <ion-input type="number" placeholder="Enter Mobile No1" formControlName="mobile1" required></ion-input>
              </ion-item>
              <ion-item no-lines
              *ngIf="( register.get('mobile1').hasError('minlength') || register.get('mobile1').hasError('pattern') ||register.get('mobile1').hasError('required') ) && register.get('mobile1').touched">
              <div class="error"
                *ngIf="register.get('mobile1').hasError('required') && register.get('mobile1').touched">
                Please input your mobile1
              </div>
              <div class="error"
                *ngIf="register.get('mobile1').hasError('pattern') && register.get('mobile1').touched">
                mobile No1 invalid
              </div>
            </ion-item>
            <ion-item>
              <ion-label>
                  <ion-icon item-left ios="ios-call" md="md-call"></ion-icon>
              </ion-label>
              <ion-input type="number" placeholder="Enter Mobile No2" formControlName="mobile2" required></ion-input>
          </ion-item>
          <ion-item no-lines
          *ngIf="( register.get('mobile2').hasError('minlength') || register.get('mobile2').hasError('pattern') ||register.get('mobile2').hasError('required') ) && register.get('mobile2').touched">
          <div class="error"
            *ngIf="register.get('mobile2').hasError('required') && register.get('mobile2').touched">
            Please input your mobile2
          </div>
          <div class="error"
            *ngIf="register.get('mobile2').hasError('pattern') && register.get('mobile2').touched">
            mobile No2 invalid
          </div>
        </ion-item>
        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
          </ion-label>
          <ion-select interface="popover" placeholder="City" formControlName="city">
              <ion-option value="N">Nashik</ion-option>
              <ion-option value="P">Pune</ion-option>
              <ion-option value="M">Mumbai</ion-option>
          </ion-select>
      </ion-item>
      <ion-item no-lines *ngIf="register.get('city').hasError('required') && register.get('city').touched">
        <div class="error">
          Select City
        </div>
      </ion-item>
      <ion-item>
        <ion-label>
            <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
        </ion-label>
        <ion-select interface="popover" placeholder="District" formControlName="district">
            <ion-option value="N">Niphad</ion-option>
            <ion-option value="D">Dindori</ion-option>
        </ion-select>
    </ion-item>
    <ion-item no-lines *ngIf="register.get('district').hasError('required') && register.get('district').touched">
      <div class="error">
        Select District
      </div>
    </ion-item>
    <ion-item>
      <ion-label>
          <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
      </ion-label>
      <ion-select interface="popover" placeholder="State" formControlName="state">
          <ion-option value="MH">Maharastra</ion-option>
          <ion-option value="MP">Mp</ion-option>
          <ion-option value="Up">Up</ion-option>
      </ion-select>
  </ion-item>
  <ion-item no-lines *ngIf="register.get('state').hasError('required') && register.get('state').touched">
    <div class="error">
      Select State
    </div>
  </ion-item>

          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
            </ion-label>
            <ion-select interface="popover" placeholder="Country" formControlName="country">
                <ion-option value="IN">India</ion-option>
                <ion-option value="USA">USA</ion-option>
                <ion-option value="CH">China</ion-option>
            </ion-select>
        </ion-item>
        <ion-item no-lines *ngIf="register.get('country').hasError('required') && register.get('country').touched">
          <div class="error">
            Select Country
          </div>
        </ion-item>


        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
          </ion-label>
          <ion-textarea type="text"  placeholder="Present Address" formControlName="Present_Address" required></ion-textarea>
        </ion-item>
        <ion-item no-lines
        *ngIf="register.get('Present_Address').hasError('required') && register.get('Present_Address').touched">
        <div class="error">
          Present Address is required  

        </div>
        </ion-item>

        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
          </ion-label>
          <ion-textarea type="text"  placeholder="Permenent Address" formControlName="Permenent_Address" required></ion-textarea>
        </ion-item>
        <ion-item no-lines
        *ngIf="register.get('Permenent_Address').hasError('required') && register.get('Permenent_Address').touched">
        <div class="error">
          Permenent Address is required 

        </div>
        </ion-item>

      <ion-item>
        <ion-label>
            <ion-icon item-left ios="ios-calendar" md="md-calendar"></ion-icon>
        </ion-label>
        <ion-input type="date" placeholder="Date of Birth"  formControlName="birthdate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
            <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
        </ion-label>
        <ion-input type="text"  placeholder="Age auto cal" formControlName="age" aria-disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
            <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
        </ion-label>
        <ion-select interface="popover" placeholder="Gender" formControlName="gender">
            <ion-option value="M">Male</ion-option>
            <ion-option value="F">Female</ion-option>
            <ion-option value="O">Other</ion-option>
        </ion-select>
    </ion-item>
    <ion-item no-lines *ngIf="register.get('gender').hasError('required') && register.get('gender').touched">
      <div class="error">
        Select Gender
      </div>
    </ion-item>

    <ion-item>
      <ion-label>
          <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
      </ion-label>
      <ion-select interface="popover" placeholder="Religion" formControlName="religion">
          <ion-option value="H">Hindu</ion-option>
          <ion-option value="M">Muslim</ion-option>
          <ion-option value="O">Other</ion-option>
      </ion-select>
  </ion-item>
  <ion-item no-lines *ngIf="register.get('religion').hasError('required') && register.get('religion').touched">
    <div class="error">
      Select Religion
    </div>
  </ion-item>
  <ion-item>
    <ion-label>
        <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
    </ion-label>
    <ion-select interface="popover" placeholder="Caste" formControlName="caste">
        <ion-option value="Op">Open</ion-option>
        <ion-option value="Ob">OBC</ion-option>
        <ion-option value="O">Other</ion-option>
    </ion-select>
</ion-item>
<ion-item no-lines *ngIf="register.get('caste').hasError('required') && register.get('caste').touched">
  <div class="error">
    Select Caste
  </div>
</ion-item>


<ion-item>
  <ion-label>
      <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
  </ion-label>
  <ion-select interface="popover" placeholder="Language Known" formControlName="langknown">
      <ion-option value="Ma">marathi</ion-option>
      <ion-option value="Hi">hindi</ion-option>
      <ion-option value="O">Other</ion-option>
  </ion-select>
  <ion-icon name="add-circle-outline">add</ion-icon>
</ion-item>
<ion-item no-lines *ngIf="register.get('langknown').hasError('required') && register.get('langknown').touched">
<div class="error">
  Select language
</div>
</ion-item>


<ion-item>
  <ion-label>
      <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
  </ion-label>
  <ion-select interface="popover" placeholder="Highest Education" formControlName="higheducation">
      <ion-option value="primary">Primpary</ion-option>
      <ion-option value="secondary">Secondary</ion-option>
      <ion-option value="degree">Degree</ion-option>
      <ion-option value="masters">Masters</ion-option>
  </ion-select>
</ion-item>
<ion-item no-lines *ngIf="register.get('higheducation').hasError('required') && register.get('higheducation').touched">
<div class="error">
  Select Highest Education
</div>
</ion-item>



<ion-item>
<ion-label>
  <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
</ion-label>
<ion-select interface="popover" placeholder="Annual Income" formControlName="annual_income">
  <ion-option value="inlakh">In Lakh</ion-option>
  <ion-option value="inThousand">In Thousand</ion-option>
</ion-select>
</ion-item>
<ion-item no-lines *ngIf="register.get('annual_income').hasError('required') && register.get('annual_income').touched">
<div class="error">
Select Annual Income
</div>
</ion-item>


    
    <ion-item>
      <ion-label>
          <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
      </ion-label>
      <ion-select interface="popover" placeholder="Hobby" formControlName="hobby">
          <ion-option value="Mu">Music</ion-option>
          <ion-option value="Pa">Photography</ion-option>
          <ion-option value="O">Other</ion-option>
      </ion-select>
      <ion-icon name="add-circle-outline">add</ion-icon>
  </ion-item>
  <ion-item no-lines *ngIf="register.get('hobby').hasError('required') && register.get('hobby').touched">
    <div class="error">
      Select Hobby
    </div>
  </ion-item>

  <ion-item>
    <ion-label>
        <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
    </ion-label>
    <ion-select interface="popover" placeholder="Marital Status" formControlName="marital_status" required>
        <ion-option value="UnMarried">UnMarried				
        </ion-option>
        <ion-option value="Divorse">Divorse / Vidows				
        </ion-option>
        <ion-option value="Married">Married				
        </ion-option>
        <ion-option value="NeverMarried">Never Married				
        </ion-option>
    </ion-select>
  </ion-item>
  <ion-item no-lines *ngIf="register.get('marital_status').hasError('required') && register.get('marital_status').touched">
  <div class="error">
    Select Marital Status
  </div>
  </ion-item>

  <ion-item>
    <ion-label>
        <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
    </ion-label>
    <ion-select interface="popover" placeholder="Profession" formControlName="profession">
        <ion-option value="Job">Job / Unemployee								
        </ion-option>
        <ion-option value="Business">Business							
        </ion-option>

    </ion-select>
  </ion-item>
  <ion-item no-lines *ngIf="register.get('profession').hasError('required') && register.get('profession').touched">
  <div class="error">
    Select Profession
  </div>
  </ion-item>
<!--
              <input style="float: left;margin: 3px 8px 0px 0px;" type="checkbox" value='tearm'
              formControlName="tearms">
            <ion-label style="margin: 0px 8px 13px 44px;">I Accept Tearms And Conditions</ion-label>
            <ion-item no-lines *ngIf="tearmError">
              <div class="error">
                Please check  Condition
              </div>
            </ion-item>
          </ion-list>
          <div formControlName="status" radio-group>
            <ion-label>status</ion-label>
            <ion-item>
              <ion-label>Married</ion-label>
              <ion-radio value="Married"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Unmarried</ion-label>
              <ion-radio value="Unmarried"></ion-radio>
            </ion-item>
          </div>
          <ion-item no-lines *ngIf="register.get('status').hasError('required') && register.get('status').touched">
            <div class="error">
              *Select status
          </ion-item>
-->
            </ion-list>
          <button ion-button round center class="login-btn" type="submit">sign up</button>
        </form>
      </div>
  </div>


</ion-content>