<!--
<ion-header>
  <ion-navbar>
    <ion-title>UnMarried Register Step Three</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-content padding>
  <div class="login-box-section">
    <div class="login-box">
   <!-- <div class="logo-box">
            <img src="assets/imgs/logo-1.jpg">
        </div>
-->
        <form (ngSubmit)="Register_Step3(register.value)" [formGroup]="register">
          <ion-list class="login-user-info">
          
          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
            </ion-label>
            <ion-input type="number"  placeholder="Height in cm" formControlName="height" required></ion-input>
            <!--
            <ion-select interface="popover" placeholder="Height" formControlName="height">
                <ion-option value="below-122cm">Below - 122cm</ion-option>
                <ion-option value="122cm-162cm">122cm - 162cm</ion-option>
                <ion-option value="162cm-183cm">162cm - 183cm</ion-option>
                <ion-option value="above-183cm">Above - 183cm</ion-option>
            </ion-select>
            -->
          </ion-item>
          <div no-lines *ngIf="register.get('height').hasError('required') && register.get('height').touched">
          <div class="error">
            Add Height in cm
          </div>
        </div>


          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
            </ion-label>
            <ion-input type="number"  placeholder="Weight in kg" formControlName="weight" required></ion-input>
            <!--
            <ion-select interface="popover" placeholder="Weight" formControlName="weight" required>
                <ion-option value="belowft">Below - 40kg</ion-option>
                <ion-option value="avrageft">40kg - 50kg</ion-option>
                <ion-option value="avrageft">50kg - 60kg</ion-option>
                <ion-option value="avrageft">60kg - 70kg</ion-option>
                <ion-option value="aboveft">Above -  70kg</ion-option>
            </ion-select>
            -->
          </ion-item>
          <div no-lines *ngIf="register.get('weight').hasError('required') && register.get('weight').touched">
          <div class="error">
            Add  Weight in kg
          </div>
        </div>


          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
            </ion-label>
            <ion-select interface="popover" placeholder="Skin Tone" formControlName="skin" required>
                <ion-option value="white_skin">white/fair</ion-option>
                <ion-option value="lightbrown_skin"> light brown </ion-option>
                <ion-option value="avragebrown_skin"> Avrage brown </ion-option>
                <ion-option value="dark_skin">Dark</ion-option>
            </ion-select>
          </ion-item>
          <div no-lines *ngIf="register.get('skin').hasError('required') && register.get('skin').touched">
          <div class="error">
            Select Skin tone
          </div>
        </div>


          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
            </ion-label>
            <ion-input type="text"  placeholder="About" formControlName="about" required></ion-input>
          </ion-item>
          <div no-lines
          *ngIf="register.get('about').hasError('required') && register.get('about').touched">
          <div class="error">
            About is required
          </div>
        </div>


      </ion-list> 
      <ion-row>
        <ion-col>
          <button ion-button start round center (click)="goBack()" class="login-btn">Prev</button>
        </ion-col>
        <ion-col>
          <button ion-button round center type="submit" class="login-btn">Next</button>
        </ion-col>
      </ion-row>
    <!--<button ion-button round center class="login-btn" type="submit">Next</button>-->
    </form>
</div>
</div>

</ion-content>
