<!--
<ion-header>
  <ion-navbar>
    <ion-title>Divorse Register Step Three</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-content padding>
  <div class="login-box-section">
    <div class="login-box">
   <!-- <div class="logo-box">
            <img src="assets/imgs/logo-1.jpg">
        </div>
-->
        <form (ngSubmit)="Register_Step3(register.value)" [formGroup]="register">
          <ion-list class="login-user-info">
        

        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
          </ion-label>
          <ion-select interface="popover" placeholder="Height" formControlName="height">
              <ion-option value="belowft">Below 4ft</ion-option>
              <ion-option value="avrageft">Avrage 5-6ft</ion-option>
              <ion-option value="aboveft">Above 6 fit</ion-option>
          </ion-select>
        </ion-item>
        <div no-lines *ngIf="register.get('height').hasError('required') && register.get('height').touched">
        <div class="error">
          Select  Height
        </div>
      </div>


        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
          </ion-label>
          <ion-select interface="popover" placeholder="Weight" formControlName="weight" required>
              <ion-option value="belowft">Below 40kg</ion-option>
              <ion-option value="avrageft">Avrage 40-70kg</ion-option>
              <ion-option value="aboveft">Above 70kg</ion-option>
          </ion-select>
        </ion-item>
        <div no-lines *ngIf="register.get('weight').hasError('required') && register.get('weight').touched">
        <div class="error">
          Select Weight
        </div>
      </div>


        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
          </ion-label>
          <ion-select interface="popover" placeholder="Skin Tone" formControlName="skin" required>
              <ion-option value="whiteskin">white</ion-option>
              <ion-option value="avgskin">Average </ion-option>
              <ion-option value="darkskin">Dark</ion-option>
          </ion-select>
        </ion-item>
        <div no-lines *ngIf="register.get('skin').hasError('required') && register.get('skin').touched">
        <div class="error">
          Select Skin tone
        </div>
      </div>


        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
          </ion-label>
          <ion-input type="text"  placeholder="About" formControlName="about" required></ion-input>
        </ion-item>
        <div no-lines
        *ngIf="register.get('about').hasError('required') && register.get('about').touched">
        <div class="error">
          About is required
        </div>
      </div>

       
        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
          </ion-label>
      
    
          <ion-select interface="popover" placeholder="No of Children" formControlName="noofChildren"
          [(ngModel)] ="noofChildren" (ionChange)="onSelectChildren($event)">
          <ion-option   *ngFor="let child of Childrens" [value]="child">{{child.name}}</ion-option>
         
          </ion-select>
       
        </ion-item>
        <div no-lines *ngIf="register.get('noofChildren').hasError('required') && register.get('noofChildren').touched">
        <div class="error">
       Select No Of  Children 
        </div>
      </div>
      </ion-list> 
      <ion-row>
        <ion-col>
          <button ion-button start round center (click)="goBack()" class="login-btn">Prev</button>
        </ion-col>
        <ion-col>
          <button ion-button round center type="submit" class="login-btn">Next</button>
        </ion-col>
      </ion-row>
    <!--<button ion-button round center class="login-btn" type="submit">Next</button>-->
    </form>
</div>
</div>

</ion-content>
