
<ion-header>
  <ion-navbar>
    <ion-title>Married Register Step Three</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="login-box-section">
    <div class="login-box">
    <div class="logo-box">
            <img src="assets/imgs/logo-1.jpg">
        </div>

        <form (ngSubmit)="marrageRegister_StepThree(register.value)" [formGroup]="register">
          <ion-list class="login-user-info">
              
          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
            </ion-label>
            <ion-select interface="popover" placeholder="Height" formControlName="height">
                <ion-option value="belowft">Below 4ft</ion-option>
                <ion-option value="avrageft">Avrage 5-6ft</ion-option>
                <ion-option value="aboveft">Above 6 fit</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="register.get('height').hasError('required') && register.get('height').touched">
          <div class="error">
            Select  Height
          </div>
          </ion-item>


          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
            </ion-label>
            <ion-select interface="popover" placeholder="Weight" formControlName="weight" required>
                <ion-option value="belowft">Below 40kg</ion-option>
                <ion-option value="avrageft">Avrage 40-70kg</ion-option>
                <ion-option value="aboveft">Above 70kg</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="register.get('weight').hasError('required') && register.get('weight').touched">
          <div class="error">
            Select Weight
          </div>
          </ion-item>


          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
            </ion-label>
            <ion-select interface="popover" placeholder="Skin Tone" formControlName="skin" required>
                <ion-option value="whiteskin">white</ion-option>
                <ion-option value="avgskin">Average </ion-option>
                <ion-option value="darkskin">Dark</ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="register.get('skin').hasError('required') && register.get('skin').touched">
          <div class="error">
            Select Skin tone
          </div>
          </ion-item>


          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
            </ion-label>
            <ion-textarea type="text"  placeholder="About" formControlName="about" required></ion-textarea>
          </ion-item>
          <ion-item no-lines
          *ngIf="register.get('about').hasError('required') && register.get('about').touched">
          <div class="error">
            About is required
          </div>
          </ion-item>


      </ion-list> 
        <button ion-button round center class="login-btn" type="submit">Register</button>
    </form>
</div>
</div>

</ion-content>
