<!--
<ion-header>
  <ion-navbar>
    <ion-title>UnMarried Step One</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-content padding>
  <div class="login-box-section">
    <div class="login-box">
  <!--  <div class="logo-box">
            <img src="assets/imgs/logo-1.jpg">
        </div>
       
    -->
        <form (ngSubmit)="Register_Step1(register.value)" [formGroup]="register">
          <ion-list class="login-user-info">
            
            <span><h4>Add Other Photos</h4></span>
            <button item-end ion-button (click)="otherPhotos()"><ion-icon name="add"></ion-icon></button> 
  
  
            <ion-row class="gender-box">
              <ion-col *ngFor="let img of photos; let id = index" col-4>
                <div class="document-img-box dotted-border" ><!-- (click)="imgpicker(img)"-->
                  <ion-icon name="md-close" (click)="deletePhoto(id)" ></ion-icon>
                  <img src="{{img}}"/>
              </div>
              </ion-col>
           </ion-row>
              
              
          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
            </ion-label>
            <ion-input type="text"  placeholder="Father Name" formControlName="fathername" required></ion-input>
          </ion-item>
          <div no-lines
            *ngIf="( register.get('fathername').hasError('maxlength') ||  register.get('fathername').hasError('minlength') 
            || register.get('fathername').hasError('pattern') ||register.get('fathername').hasError('required') ) 
            && register.get('fathername').touched">
            <div class="error"
              *ngIf="register.get('fathername').hasError('required') && register.get('fathername').touched">
             *Required Father Name
            </div>
            <div class="error"
              *ngIf="register.get('fathername').hasError('pattern') && register.get('fathername').touched">
              Only alphabates please
            </div>
            <div class="error"
            *ngIf="register.get('fathername').hasError('maxlength') && register.get('fathername').touched">
            Maximum 20 letters 
          </div>
            </div>
            
          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
            </ion-label>
            <ion-select interface="popover" placeholder="Father Occupation" formControlName="fatheroccupasion">
                <ion-option value="business">Business</ion-option>
                <ion-option value="privateJob">Private Job</ion-option>
                <ion-option value="governmentjob">Government Job</ion-option>
                <ion-option value="other">Other</ion-option>
            </ion-select>
          </ion-item>
          <div no-lines *ngIf="register.get('fatheroccupasion').hasError('required') && register.get('fatheroccupasion').touched">
          <div class="error">
            Select Father Occupation
          </div>
          </div>


          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
            </ion-label>
            <ion-input type="number"  placeholder="Father Mobile No" formControlName="fathermobileno" required></ion-input>
          </ion-item>
          <div no-lines
            *ngIf="( register.get('fathermobileno').hasError('maxlength') ||  register.get('fathermobileno').hasError('minlength') 
            || register.get('fathermobileno').hasError('pattern') ||register.get('fathermobileno').hasError('required') ) 
            && register.get('fathermobileno').touched">
            <div class="error"
              *ngIf="register.get('fathermobileno').hasError('required') && register.get('fathermobileno').touched">
             *Required Father Mobile No
            </div>
            <div class="error"
              *ngIf="register.get('fathermobileno').hasError('minlength') && register.get('fathermobileno').touched">
              Invalid Father Mobile No
            </div>
            <div class="error"
            *ngIf="register.get('fathermobileno').hasError('maxlength') && register.get('fathermobileno').touched">
            Invalid Father Mobile No
          </div>
            </div>


          <ion-item>
            <ion-label>
                <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
            </ion-label>
            <ion-input type="text"  placeholder="Mother Name" formControlName="mothername" required></ion-input>
          </ion-item>
          <div no-lines
          *ngIf="( register.get('mothername').hasError('maxlength') ||  register.get('mothername').hasError('minlength') 
          || register.get('mothername').hasError('pattern') ||register.get('mothername').hasError('required') ) 
          && register.get('mothername').touched">
          <div class="error"
            *ngIf="register.get('mothername').hasError('required') && register.get('mothername').touched">
           *Required Mother Name
          </div>
          <div class="error"
            *ngIf="register.get('mothername').hasError('pattern') && register.get('mothername').touched">
            Only alphabates please
          </div>
          <div class="error"
          *ngIf="register.get('mothername').hasError('maxlength') && register.get('mothername').touched">
          Maximum 20 letters 
        </div>
          </div>


            <ion-item>
              <ion-label>
                  <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
              </ion-label>
              <ion-select interface="popover" placeholder="Mother Occupation" formControlName="motheroccupasion">
                <ion-option value="business">Business</ion-option>
                <ion-option value="privateJob">Private Job</ion-option>
                <ion-option value="governmentjob">Government Job</ion-option>
                <ion-option value="houseWife">House Wife</ion-option>
                <ion-option value="other">Other</ion-option>
              </ion-select>
            </ion-item>
            <div no-lines *ngIf="register.get('motheroccupasion').hasError('required') && register.get('motheroccupasion').touched">
            <div class="error">
              Select Mother Occupation
            </div>
            </div>

            <ion-item>
              <ion-label>
                  <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
              </ion-label>
              <ion-input type="number"  placeholder="Mother Mobile No" formControlName="mothermobileno" required></ion-input>
            </ion-item>
            <div no-lines
            *ngIf="( register.get('mothermobileno').hasError('maxlength') ||  register.get('mothermobileno').hasError('minlength') 
            || register.get('mothermobileno').hasError('pattern') ||register.get('mothermobileno').hasError('required') ) 
            && register.get('mothermobileno').touched">
            <div class="error"
              *ngIf="register.get('mothermobileno').hasError('required') && register.get('mothermobileno').touched">
             *Required Mother Mobile No
            </div>
            <div class="error"
              *ngIf="register.get('mothermobileno').hasError('minlength') && register.get('mothermobileno').touched">
              Invalid Mother Mobile No
            </div>
            <div class="error"
            *ngIf="register.get('mothermobileno').hasError('maxlength') && register.get('mothermobileno').touched">
            Invalid Mother Mobile No
          </div>
            </div>
  

      </ion-list> 
      <ion-row>
        <ion-col>
          <button ion-button start round center (click)="goBack()" class="login-btn">Prev</button>
        </ion-col>
        <ion-col>
          <button ion-button round center type="submit" class="login-btn">Next</button>
        </ion-col>
      </ion-row>
    <!--<button ion-button round center class="login-btn" type="submit">Next</button>-->
    </form>
</div>
</div>

</ion-content>
