<!--
<ion-header>
  <ion-navbar>
    <ion-title>business-step1</ion-title>
  </ion-navbar>
</ion-header>
-->


<ion-content padding>

  <div class="login-box-section">
    <div class="login-box">
     <!--   <div class="logo-box">
            <img src="assets/imgs/logo-1.jpg">
        </div>
-->
        <form [formGroup]="businessForm" (ngSubmit)="submitDetails(businessForm.value)">
          <ion-list class="login-user-info">
            <span><h3> Bussiness Details </h3></span>
          
           
            <ion-row class="gender-box">
              <ion-col (click)="getPhoto('selfie')" *ngIf="selfie" col-4>
                  <div class="document-img-box">
            
                      <img [src]="selfie">
                  </div>
              </ion-col>
              <ion-col *ngIf="!selfie" (click)="getPhoto('selfie')" col-4>
                  <div class="document-img-box dotted-border">
                      <ion-icon ios="ios-add-circle" md="md-add-circle" class="add-img-icon"></ion-icon>
                  </div>
              </ion-col>
          </ion-row>

          <ion-input formControlName="selfie" [(ngModel)]="selfie" type="text" hidden></ion-input>

         <div no-lines
              *ngIf="businessForm.get('selfie').hasError('required') && businessForm.get('selfie').touched">
              <div class="error">
               Bussiness logo is required
              </div>
          </div>

        <span><h4>Add Other Photos</h4></span>
            <button item-end ion-button (click)="otherPhotos()"><ion-icon name="add"></ion-icon></button> 
  
  
            <ion-row class="gender-box">
              <ion-col *ngFor="let img of photos; let id = index" col-4>
                <div class="document-img-box dotted-border" ><!-- (click)="imgpicker(img)"-->
                  <ion-icon name="md-close" (click)="deletePhoto(id)" ></ion-icon>
                  <img src="{{img}}"/>
              </div>
              </ion-col>
           </ion-row>

              <ion-item>
                <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                </ion-label>
                <ion-input type="text" placeholder="Company Name"  formControlName="company"></ion-input>
            </ion-item>
            <div no-lines
            *ngIf="businessForm.get('company').hasError('required') && businessForm.get('company').touched">
                <div class="error">
                  Company Name is required
                </div>
            </div>

            <ion-item>
                <ion-label>
                    <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
                </ion-label>
                <ion-input type="text" placeholder="Office Address"  formControlName="office_address"></ion-input>
            </ion-item>
            <div no-lines
            *ngIf="businessForm.get('company').hasError('required') && businessForm.get('company').touched">
                <div class="error">
                  Company Name is required
                </div>
            </div>
            
            <ion-item>
                <ion-label>
                    <ion-icon item-left name="mail"></ion-icon>
                </ion-label>
                <ion-input type="email" placeholder="Email Id"  formControlName="email"></ion-input>
            </ion-item>
            <div no-lines
                 *ngIf="(businessForm.get('email').hasError('pattern') ||businessForm.get('email').hasError('required') ) && businessForm.get('email').touched">
            <div class="error"
                  *ngIf="businessForm.get('email').hasError('required') && businessForm.get('email').touched">
              Please Enter  Email ID
            </div>
            <div class="error" *ngIf="businessForm.get('email').hasError('pattern') && businessForm.get('email').touched">
               Invalid Email-id
            </div>
          </div>
          </ion-list>

          <ion-row>
            <ion-col>
              <button ion-button start round center (click)="goBack()" class="login-btn">Prev</button>
            </ion-col>
            <ion-col>
              <button ion-button round center type="submit" class="login-btn">Next</button>
            </ion-col>
          </ion-row>
        <!--<button ion-button round center class="login-btn" type="submit">Next</button>-->
      </form>
    </div>
</div>
</ion-content>
