<!--
<ion-header>
  <ion-navbar>
    <ion-title>Divorse Register Step One</ion-title>
  </ion-navbar>
</ion-header>
-->


<ion-content padding>
  <div class="login-box-section">
    <div class="login-box">
   

        <form (ngSubmit)="DivorseRegister_Step1(register.value)" [formGroup]="register">
          <ion-list class="login-user-info">

            <span><h4>Divorce / widow Registration</h4></span>
            <span><h6>Add Other Photos</h6></span>
            <button item-end ion-button (click)="otherPhotos()"><ion-icon name="add"></ion-icon></button> 
  
  
            <ion-row class="gender-box">
              <ion-col *ngFor="let img of photos; let id = index" col-4>
                <div class="document-img-box dotted-border" ><!-- (click)="imgpicker(img)"-->
                  <ion-icon name="md-close" (click)="deletePhoto(id)" ></ion-icon>
                  <img src="{{img}}"/>
              </div>
              </ion-col>
           </ion-row>
              
      <ion-item>
        <ion-label>
            <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
        </ion-label>
        <ion-input type="text"  placeholder="Father Name" formControlName="fathername" required></ion-input>
      </ion-item>
      <div no-lines
            *ngIf="register.get('fathername').hasError('required') && register.get('fathername').touched">
      <div class="error">
        Father Name is required
      </div>
      </div>

        <ion-item>
          <ion-label>
              <ion-icon item-left ios="ios-person" md="md-person"></ion-icon>
          </ion-label>
          <ion-input type="number"  placeholder="Father Mobile No" formControlName="fathermobileno" required></ion-input>
        </ion-item>
        <div no-lines
        *ngIf="( register.get('fathermobileno').hasError('minlength') || register.get('fathermobileno').hasError('pattern') ||register.get('fathermobileno').hasError('required') ) && register.get('fathermobileno').touched">
        <div class="error"
          *ngIf="register.get('fathermobileno').hasError('required') && register.get('fathermobileno').touched">
          Please mobile no
        </div>
        <div class="error"
          *ngIf="register.get('fathermobileno').hasError('pattern') && register.get('fathermobileno').touched">
          mobile No invalid
        </div>
      </div>

    <ion-item>
      <ion-label>
          <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
      </ion-label>
      <ion-select interface="popover" placeholder="Father Occupasion" formControlName="fatheroccupasion">
          <ion-option value="PE">Private </ion-option>
          <ion-option value="Bu">Bussiness</ion-option>
          <ion-option value="O">Other</ion-option>
      </ion-select>
    </ion-item>
    <div no-lines *ngIf="register.get('fatheroccupasion').hasError('required') && register.get('fatheroccupasion').touched">
    <div class="error">
      Select Father Occupasion
    </div>
    </div>

    <ion-item>
      <ion-label>
          <ion-icon item-left ios="ios-transgender" md="md-transgender"></ion-icon>
      </ion-label>
      <ion-select interface="popover" placeholder="Mother Occupasion" formControlName="motheroccupasion">
          <ion-option value="PE">Private </ion-option>
          <ion-option value="Bu">Bussiness</ion-option>
          <ion-option value="O">Other</ion-option>
      </ion-select>
    </ion-item>
    <div no-lines *ngIf="register.get('motheroccupasion').hasError('required') && register.get('motheroccupasion').touched">
    <div class="error">
      Select Mother Occupasion
    </div>
    </div>



      </ion-list> 
      <ion-row>
        <ion-col>
          <button ion-button start round center (click)="goBack()" class="login-btn">Prev</button>
        </ion-col>
        <ion-col>
          <button ion-button round center type="submit" class="login-btn">Next</button>
        </ion-col>
      </ion-row>
    <!--<button ion-button round center class="login-btn" type="submit">Next</button>-->
    </form>
</div>
</div>

</ion-content>
